/* h3 {
    color: red;
  }
   */

/* delet placeholder khi click vào input  */
input :focus::-webkit-input-placeholder {
  transition: all 0.3s ease-in;
  opacity: 0;
}

input:focus::placeholder {
  transition: all 0.3s ease-in;
  opacity: 0;
}

span {
  color: red;
}
